{
  "printWidth": 80,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxBracketSameLine": false,
  "trailingComma": "es5",
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
